﻿@{
    ViewBag.Title = "Tree, Load JSON";
    Layout = "~/Views/Shared/_TreeGridLayout.cshtml";
}

<h2>MenuTree - Json</h2>
<hr />
<div class="easyui-panel" style="padding:5px">
    <ul id="MenuTree" class="easyui-tree"></ul>
</div>
<input type="hidden" id="HasRootNode" name="HasRootNode" value="@ViewBag.HasRootNode" />

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            var hasData = $.trim($('#HasRootNode').val()) === 'true';
            if (hasData) {
                $('#MenuTree').tree({
                    url: '@Url.Action("GetTreeNodeJSON", "Menu")',
                    onDblClick: function (node) {
                        if (node.attributes != '#') {
                            window.location.replace(node.attributes.url);
                        }


                    }
                });
            }
        });
    </script>
}